#linguagem {
  text-align: center;
  font-family: Verdana;
  color: rgb(251, 37, 255);
  font-size: 25px;
}
#marca {
  text-align: center;
  font-family: Verdana;
  color: rgb(37, 219, 255);
  background-color: black;
  font-size: 25px;
}
body {
  background-color: black;
  color: yellow;
}
